/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvh;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-text-weight);
  font-size: 18px;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: var(--container-width);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color-light);
  border: 2px solid var(--border-color);
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  padding: 130px 0;
}

.header__logo {
  font-size: clamp(3.0625rem, 1.5vw + 2.711rem, 4.0625rem);
}

.header__label {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.4375rem);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-light);
  border: 2px solid var(--border-color);
  margin-block-end: 50px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  padding: 4px 10px;
  margin: 0;
}

.card__image-container {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
}

.card__image {
  display: block;
  width: 100%;
  height: 374px;
  object-fit: cover;
  object-position: top;
}

.card__text-content {
  padding: 25px 26px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 25px 25px;
  gap: 10px;
}

.button_square {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color-light);
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 38px;
  padding: 0;
}

.button__text {
  position: relative;
  display: inline-block;
  font-family: var(--accent-font);
  font-size: 14px;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--text-color-light);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px -1px 0 var(--text-stroke-color),
    1px -1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color),
    1px 1px 0 var(--text-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or
  (text-stroke: 1px var(--text-stroke-color)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.button-save {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 17px 15px;
  margin-bottom: 100px;
}

.button__icon {
  display: block;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
}

.image_brightness {
  filter: brightness(200%);
}

.image_contrast {
  filter: contrast(20%);
}

.image_blur {
  filter: blur(3.2rem);
}

.image_grayscale {
  filter: grayscale(0.8);
}

.image_saturate {
  filter: saturate(158%);
}

.image_hue {
  filter: hue-rotate(-90deg);
}

.image_invert {
  filter: invert(0.7);
}

.image_multi {
  filter: sepia(1) contrast(2) brightness(200%);
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--animation-fill-contur);
  transition: fill 0.1s linear 0s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .core {
  fill: var(--animation-fill-contur);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--animation-fill-contur);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s ease-in 0.3s forwards;
}

/* --- СТИЛИ МОДАЛЬНОГО ОКНА (DIALOG) --- */

.dialog {
  padding: 0;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color-light);
  width: clamp(341px, 331px + 1.6vw, 353px);
  min-width: 341px;
}

.dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  align-items: center;
}

.dialog__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.dialog__icon {
  display: block;
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  fill: currentColor;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
  color: var(--text-color);
}

.dialog__close-button {
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.button_square:focus {
  outline: none;
}

.button_square:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

.button_square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--animation-fill-contur);
  transform: scaleX(0);
  transform-origin: left center;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.button_square:hover::before {
  transform: scaleX(1);
}

@media (width <= 376px) {
  .header {
    padding: 122px 0;
  }

  .button-save {
    flex-direction: column;
  }
  .button__icon {
    width: 28px;
    height: 28px;
  }
  .dialog__container {
    padding: 40px;
  }
}
